
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/Index.css" type="text/css" />
<div class= "container">

<h1>About Me</h1>

    <p>
        <h2> KORT OM MIG </h2>

Min arbetslivserfarenhet sträcker sig 1,5 år tillbaka där jag har arbetat som system utvecklare och jobbat inom support och integration team. Jag hade ansvar för bland annat fel sökning på redan byggt system som körs hos kund redan, Uppdatera systemet med hantera fel och utveckla den enligt nya krav vidare, kör unit tester och integration tester innan release till kund igen.
</p>
<h2> MINA KORTSIKTIGA MÅL</h2>  
<p>
Mina mål på kort sikt är att bidra med mina idéer när jag får mer erfarenhet. Senare hoppas jag kunna lotsa rekryter till arbetsmiljön som utvecklare. Att hjälpa nya medarbetare att bosätta sig i sin arbetsmiljö kommer att öka min kompetens och hjälpa organisationen.
</p>
<h2> MINA LÅNGSIKTIGA MÅL</h2>
<p>
Mitt långsiktiga mål är att ta mig an större, mer utmanande mål så att jag kan bedöma mina förmågor. Jag planerar att forma mig själv under denna första tid så att jag är beredd att leverera på större mål senare. Jag vill bli ett riktigt System utvecklare som kan analysera, uppdatera och utveckla system enligt kund krav med optimal qualitet.
   </p> 

</div>




