@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="~/css/Index.css" type="text/css" />
<div class="container">
    <h1>Contact</h1>
    <h3>I can be contacted by following details.</h3>
    <p>Name: MAX</p>
    <p>Email: MAX@services.com</p>
    <p>Mobile number:076010###1</p>
    <p>Adress: 24 Fletcher road Manchester</p>
</div>
