
@{
    ViewData["Title"] = "Projects";
}
<link rel="stylesheet" href="~/css/Index.css" type="text/css" />
<div class= "container">
    <h1>Projects</h1>
    <p> I have the following projects</p>
    <div class= "calcultor"">
        <a href="https://github.com/maqsoodulhasan/calculator_uppgift" target="_blank">calculator</a>
        <p> It is a small calcultor application which performs basic arithmatic operations as plus, minus, multiplication and division.</p>
    </div>
    <div>
        <a href="https://github.com/maqsoodulhasan/Hangman" target="_blank">Hangman</a>
        <p>Hang,an is guessing game. It takes input from user and compare it to the randomly generated value by game. If it the same value user wins the game otherwise user can continue untill the 10 chances are complete.</p>
    </div>  
   <div>
       <a href="https://github.com/maqsoodulhasan/VendingMachineController" target="_blank">
                    VendingMachineController</a>
        <p> VendingMachine controller is simulation of how vending machine works.
            User will enter the money first from the allowed amount to enter. "nd step is to 
            select the product. User can select as many product as long money is available in money                 pool. The last step is to finalize the purchase. Vending machine gives a summary 
            with all purchased items details, their prices, total cost and remaining money."
        </p>
   </div>
   <div><h3>More projects will be updated soon.</h3></div>
   
   
</div>


